PHP_CURRENT_VERSION_PATH='C:\pvm\php'
CACHE_MAX_HOURS=168 # Cached available versions expiration in hours (default 1 week)
DEFAULT_LOG_PAGE_SIZE=5 # Default page size for log display
DEFAULT_PARTIAL_LIST_SIZE=10 # Maximum number of items shown in partial version/extension lists